/* Colors */
$black: #232525;
$white: #fff;
$gray: #5b5e5e;
$gray-light: #eee;

/* Defaults */
$font-family: 'Montserrat', sans-serif;
$font-size: 1.6rem;
$body-color: #232525;
$body-bg: #fff;

/* Grid */
$container-w: 136rem;
$header-h: 7.1rem;
$header-h-m: 6rem;
$footer-h: 3.2rem;
$burger-line-h: .3rem;
$burger-line-w: 2.4rem;

/* Spacing */
$padding: 2.4rem;
$padding-m: 1.6rem;
