/* Reset */
* {
    box-sizing: border-box;
}


html {
    min-height: 100% !important;
    height: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100% !important;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    list-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    padding: 0;
    background: transparent;
    border: none;
    color: inherit;
    outline: none;
}

input {
    outline: none;

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type='time']::-webkit-clear-button {
        display: none;
    }

    &::-ms-clear {
        display: none;
    }
}

textarea {
    resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
    font-size: inherit;
}

address {
    font-style: normal;
}

#__nuxt, #__nuxt > div, #__nuxt > div > div {
    height: 100%;
}

#__nuxt > div > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}
